<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resource</title>
    <meta name="description" content='Resource，将 github 中的笔记渲染的页面'>
    <meta name="anthor" content="xiaoxuan6">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="icon" href="static/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="static/notiflix-3.2.6.min.css">
    <link rel="stylesheet" href="https://unpkg.com/nprogress@0.2.0/nprogress.css">
    <link rel="stylesheet" href="static/index.css">
</head>

<body>
<div id="app">
    <el-container>
        <el-header>
            <h1>
                Resource
                <span style="float: right" onclick="refresh()">刷新数据</span>
            </h1>
        </el-header>
        <el-main v-loading.fullscreen.lock="fullscreenLoading" element-loading-text="拼命加载中">
            <el-row :gutter="20">
                << range $index, $feed :=.DataList >>
                <el-col v-if="showSEOFlag" :xs="24" :sm="12" :md="8" :lg="6" :key="index" class="feed-col">
                    <el-card class="box-card">
                        <div slot="header" class="card-header">
                  <span>
                    << $feed.Title >>
                  </span>
                        </div>
                        <el-scrollbar style="height: 300px;">
                            << range $i, $item :=$feed.Items >>
                            <el-list key="<< $i >>">
                                <el-list-item>
                                    <div class="list-item-title">
                                      <span>
                                        << inc $i >>.
                                      </span>
                                        <el-link href="<< $item.Url >>" target="_blank" title="<< $item.Title >>">
                                            << $item.Title >>
                                        </el-link>
                                    </div>
                                </el-list-item>
                            </el-list>
                            << end >>
                        </el-scrollbar>
                    </el-card>
                </el-col>
                << end>>
                <el-col :xs="24" :sm="12" :md="8" :lg="6" v-for="(feed, index) in feeds" :key="index" class="feed-col">
                    <el-card class="box-card">
                        <div slot="header" class="card-header">
                            <span>{{ feed.title }}</span>
                        </div>
                        <el-scrollbar style="height: 300px;">
                            <el-list v-for="(item, i) in feed.items" :key="i">
                                <el-list-item>
                                    <div class="list-item-title">
                                        <span>{{ i+1 }}. </span>
                                        <el-link :href="item.url" target="_blank" :title="item.title">{{ item.title }}
                                        </el-link>
                                    </div>
                                </el-list-item>
                            </el-list>
                        </el-scrollbar>
                    </el-card>
                </el-col>
            </el-row>
        </el-main>
        <el-footer>
            <el-link href="https://github.com/xiaoxuan6/resource-web" target="_blank">Resource-web</el-link>
            <span> | </span>
            <el-link href="https://github.com/xiaoxuan6" target="_blank">By xiaoxuan6</el-link>
        </el-footer>
    </el-container>
</div>

<!-- <script src="https://unpkg.com/vue@next"></script> -->
<script src="static/vue.global.prod.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/element-plus/2.3.3/index.full.js"></script>
<script src="http://cdn.bootcss.com/jquery/1.12.3/jquery.min.js"></script>
<script src="static/notiflix-3.2.6.min.js"></script>
<!-- <link rel="stylesheet" href="https://unpkg.com/nprogress@0.2.0/nprogress.js">-->
<script src="static/nprogress.js"></script>
<script src="static/index.js"></script>
</body>
</html>